body{background-color: darkslategrey;}
.menu{
    background-color: cadetblue; 
    border-radius: 22px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    max-width: 500px;
    margin-bottom: 15px;
}
#textInput{
    border-radius: 7px;
    background-color: aquamarine;
    border: 0;
}